/* hero Style inside here!!! */
.heroWrapper {
  padding-top: 12.5rem;
}

/* heroHeader */
.heroSectionContainer {
  /* style inside here */
  display: flex;
  margin: 0rem 5rem;
}
.heroHeadline {
  display: flex;
}
.heroHeadParagraph {
  font-weight: 600;
  font-size: 2.2rem;
  opacity: 0.8;
  color: rgba(0, 0, 0, 0.8);
  font-style: italic;
  margin-left: 2.3rem;
}
.heroSpan {
  font-weight: 700;
  color: rgb(184, 4, 184);
}
.heroTaglineWrapper {
  width: 66%;
  text-align: center;
}
.heroTagline {
  margin-top: 0.5rem;
  margin-left: 2.6rem;
  font-size: 0.9rem;
  z-index: 1;
  position: relative;
}
.heroBtnWrapper {
  display: flex;
  flex-wrap: row;
  gap: 1.2rem;
  margin-left: 9rem;
  margin-top: 1.8rem;
}

.mainHeroImages {
  position: relative;
  z-index: 1;
  width: 45rem;
  filter: drop-shadow(4px 4px rgba(0, 0, 0, 0.2));
  margin-top: -3rem;
  margin-left: -2rem;
}

/* heroCube */
.heroCubeWrapper {
  display: flex;
}

/* heroBackgroundImages */
.heroBackground {
  margin-top: -22rem;
  margin-right: -7rem;
}
.mobileHeroBackground {
  display: none;
}

/* HeroCube */
.heroCubeWrapper {
  position: absolute;
}
.heroCubeOne {
  position: absolute;
  z-index: 0;
  margin-left: 3rem;
  margin-top: -21rem;
  rotate: 6deg;
}

.heroCubeTwo {
  margin-left: 9rem;
  margin-top: -4rem;
  rotate: -6deg;
  position: absolute;
  z-index: 0;
}

.heroCubeThree {
  margin-left: 44rem;
  rotate: 6deg;
  margin-top: -20rem;
  z-index: 0;
}

/* mediaQueries */
/* desktop-1980px */
@media screen and (min-width: 1980px) {
  .heroSectionContainer {
    margin: 0rem 10rem;
  }
  .heroHeadParagraph {
    width: 51%;
  }
  .heroBtnWrapper {
    width: 100%;
  }
  .heroBtn .secHeroCta {
    margin-right: -2rem;
  }
  .heroCubeOne {
    margin-top: -24rem;
  }
}

/* desktop-1920px */
@media screen and (min-width: 1920px) {
  .heroWrapper {
    padding-top: 14rem;
  }
  .heroSectionContainer {
    margin: 0rem 22rem;
  }
  .heroHeadParagraph {
    margin-left: -0rem;
    font-size: 2rem;
  }
  .heroTagline {
    margin-right: 9.4rem;
    font-size: 1.2rem;
  }
  .heroBtnWrapper {
    margin-left: 9.6rem;
  }
  .mainHeroImages {
    width: 42rem;
    margin-left: -5rem;
    margin-top: -4rem;
    position: relative;
  }
}

/* desktop-1600px */
@media screen and (min-width: 1600px) {
  .heroSectionContainer {
    margin: 0rem 8rem;
  }
  .mainHeroImages {
    width: 48rem;
  }
  .heroHeadParagraph {
    font-size: 1.8rem;
    margin-left: 5rem;
  }
  .heroTaglineWrapper {
    width: 60%;
  }
  .heroTagline {
    font-size: 1rem;
    margin-left: 2rem;
  }
  .heroBtnWrapper {
    margin-left: 9.6rem;
  }

  /* heroCube */
  .heroCubeOne {
    margin-top: -23rem;
    margin-left: 5rem;
  }
  .heroCubeTwo {
    margin-top: -8rem;
  }
  .heroCubeThree {
    margin-top: -22rem;
    margin-left: 46rem;
  }
}

/* tablet-834px */
@media screen and (max-width: 834px) {
  .heroSectionContainer {
    margin: 0rem 4rem;
  }
  .heroTaglineWrapper {
    width: 88%;
  }
  .heroTagline {
    margin-left: -0.9rem;
    font-size: 0.75rem;
  }
  .heroHeadParagraph {
    margin-right: 0rem;
    font-size: 1.4rem;
    margin-left: 1rem;
  }
  .mainHeroImages {
    margin-top: -2rem;
    margin-left: 0rem;
    width: 49rem;
  }
  .heroBtnWrapper {
    margin-left: 3.3rem;
  }
  .heroCubeOne {
    margin-top: -17rem;
    margin-left: 1.5rem;
  }
  .heroCubeTwo {
    margin-left: 3rem;
    margin-top: -3rem;
  }
  .heroCubeThree {
    margin-left: 30.5rem;
  }
}

/* mobile-428px */
@media screen and (max-width: 428px) {
  .heroWrapper {
    padding-top: 8.5rem;
  }
  .heroSectionContainer {
    display: flex;
    flex-direction: column;
  }
  .heroHeadline {
    white-space: nowrap;
  }
  .heroHeadParagraph {
    font-size: 1.3rem;
    margin-left: -0.62rem;
  }
  .heroTaglineWrapper {
    width: 110%;
  }
  .heroTagline {
    margin-left: -1.5rem;
  }
  .heroBtnWrapper {
    margin-left: 1.5rem;
  }
  .heroImagesWrapper {
    width: 16.5rem;
  }
  .mainHeroImages {
    margin-top: 2rem;
    margin-left: 0.2rem;
  }
  .heroBackground {
    z-index: -999;
  }

  .mobileHeroBackgroundWrapper {
    position: absolute;
    margin-left: -8rem;
    margin-top: -35rem;
    z-index: -5;
    opacity: 0.7;
  }
  .mobileHeroBackground {
    display: block;
    position: absolute;
  }
  .heroCubeThree {
    margin-left: 22.5rem;
    z-index: 1;
  }
}

/* mobile-393px */
@media screen and (max-width: 393px) {
  .heroWrapper {
    padding-top: 7rem;
  }
  .heroHeadline {
    width: 100%;
    margin-left: -0.8rem;
  }
  .heroHeadParagraph {
    font-size: 1.25rem;
  }
  .heroTaglineWrapper {
    width: 110%;
    margin-left: 0.2rem;
  }
  .heroTagline {
    font-size: 0.75rem;
  }
  .heroBtnWrapper {
    margin-left: 0.5rem;
  }
  .heroImagesWrapper {
    width: 16rem;
  }
  .mainHeroImages {
    margin-top: 2rem;
    margin-left: -0.2rem;
  }
  .heroCubeOne {
    margin-top: -16rem;
    margin-left: 2rem;
  }
  .heroCubeTwo {
    margin-top: -2rem;
    margin-left: 3.2rem;
  }
  .heroCubeThree {
    margin-left: 21.5rem;
  }
}

/* mobile-375px */
@media screen and (max-width: 375px) {
  .heroHeadParagraph {
    margin-left: -1rem;
    font-size: 1.2rem;
  }
  .heroTaglineWrapper {
    width: 120%;
  }
  .heroTagline {
    margin-left: -3.4rem;
    font-size: 0.7rem;
  }
  .heroBtnWrapper {
    margin-left: 0rem;
  }
  .heroImagesWrapper {
    width: 14.5rem;
  }
  .mainHeroImages {
    margin-left: -0.2rem;
  }
  .mobileHeroBackgroundWrapper {
    margin-top: -33rem;
  }
  .heroBackground {
    margin-top: -14rem;
  }
  .heroCubeOne {
    margin-top: -14.5rem;
  }
  .heroCubeThree {
    margin-left: 20rem;
  }
}

/* mobile-362px */
@media screen and (max-width: 362px) {
  .heroHeadParagraph {
    margin-left: -1.4rem;
  }
  .heroBtnWrapper {
    margin-top: 1.5rem;
  }
  .mainHeroImages {
    margin-left: -0.55rem;
  }
  .heroCubeThree {
    margin-left: 19.5rem;
  }
}

/* mobile-320px */
@media screen and (max-width: 320px) {
  .heroWrapper {
    padding-top: 6.5rem;
  }
  .heroHeadParagraph {
    font-size: 1.05rem;
  }
  .heroImagesWrapper {
    width: 13.2rem;
  }
  .mainHeroImages {
    margin-left: -1.1rem;
  }
  .heroTagline {
    margin-left: -2.5rem;
  }
  .heroCubeTwo {
    margin-left: 2rem;
  }
  .heroCubeThree {
    margin-left: 17rem;
  }
}
