/* navbarStyle inside here!! */
.navbar {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.navbarWrapper {
  margin: 1.5rem 5.5rem;
}
.navbarBrand {
  position: absolute;
  font-size: 1.4rem;
  font-weight: 500;
  font-style: italic;
  z-index: 2;
  cursor: pointer;
  /* border: 2px solid black; */
}
.ul-nav {
  opacity: 0.7;
  display: flex;
  gap: 2.5rem;
  justify-content: end;
  font-size: 1rem;
}
.li-nav:hover {
  color: rgb(87, 2, 87);
}
.ul-nav,
.li-nav {
  margin-top: 0.47rem;
  display: flex;
}
.navCart {
  cursor: pointer;
}
.ul-nav input {
  margin-top: 0.09rem;
  font-size: 0.72rem;
  height: 1.8rem;
  padding: 1.15rem;
  border-radius: 5px;
  transition: all 0.5s 0.5;
  box-shadow: 6px 6px rgba(0, 0, 0, 0.2);
  border: 1px solid rgb(87, 2, 87);
}
input::selection {
  background-color: rgb(218, 1, 218);
  color: white;
}
input:hover {
  background-color: rgb(250, 250, 250);
}
input:focus {
  outline: none;
}

.navCartMenuWrapper {
  display: flex;
  justify-content: end;
  align-items: end;
}
.navCartMenu {
  overflow-y: scroll;
  overflow-x: hidden;
  background: #ffffff;
  padding: 0.8rem 18rem 0rem 1rem;
  height: 70vh;
  margin-top: 0.8rem;
  border-radius: 7px;
}
.navCartIndicator {
  width: 1.5rem;
  height: 1.5rem;
  rotate: 45deg;
  right: 19.8rem;
  position: absolute;
  top: 4.3rem;
  background-color: white;
}
.cartTitleWrapper {
  border-bottom: 1.5px black solid;
}
.cartTitle {
  text-align: start;
}
.navCartContentWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 80%;
  position: absolute;
}
.navCartLinkWrapper {
  height: 7.5rem;
  display: flex;
  align-items: end;
  justify-content: end;
  gap: 1rem;
  position: fixed;
  bottom: 8px;
}
.cartTitleLink {
  font-size: 0.9rem;
  cursor: pointer;
  color: rgb(184, 4, 184);
  transition: all 0.2s;
}
.cartTitleLink:nth-child(2) {
}
.cartTitleLink:hover {
  color: rgb(227, 0, 227);
}

.navCartActive {
  transform: scale(1);
  max-width: 400px;
  display: block;
}
.navCartInactive {
  max-width: 0px;
  transform: scale(0);
  display: none;
}

.menuImages {
  display: none;
}
.mobileNavCart {
  display: none;
}

/* media queries */
/* minWidth */
/* desktop-1980px */
@media screen and (min-width: 1980px) {
  .navbarWrapper {
    margin: 1.5rem 20rem;
  }
}

/* desktop-1920px */
@media screen and (min-width: 1920px) {
  .navbarWrapper {
    margin: 1.5rem 20rem;
  }
}

/* desktop-1600px */
@media screen and (min-width: 1600px) {
  .navbarWrapper {
    margin: 1.5rem 10rem;
  }
}

/* Tablet-834px */
@media screen and (max-width: 834px) {
  .navbarWrapper {
    margin: 1.5rem 4rem;
  }
  .navbarBrand {
    font-size: 1.5rem;
  }
  .ul-nav {
    gap: 2rem;
    font-size: 0.9rem;
  }
  .menuImages {
    display: none;
  }
  .mobileNavCart {
    display: none;
  }
}

/* mobile-412px */
@media screen and (max-width: 428px) {
  .navbarWrapper {
    margin: 1.5rem 2.5rem;
  }
  .navbarBrand {
    margin-left: 1rem;
  }
  .navbarListWrapper {
    /* background */
    background: linear-gradient(
      60deg,
      rgba(255, 255, 255, 1) 58%,
      rgba(128, 0, 128, 0.265) 100%
    );
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin-left: 8rem;
    width: 60%;
    margin-top: -3.6rem;
    height: 100vh;
    z-index: 2;
    position: absolute;
    display: block;
    transition: 1s;
  }

  .active {
    transform: translateX(0%);
  }
  .inactive {
    transform: translateX(110%);
  }
  .ul-nav {
    display: block;
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: end;
  }
  .navCart {
    display: none;
  }
  .li-nav {
    margin-right: 6.2rem;
  }
  .ul-nav input {
    width: 60%;
    font-size: 0.7rem;
    box-shadow: 6px 6px rgba(0, 0, 0, 0.2);
    border: 1px solid rgb(87, 2, 87);
    margin-right: 2.6rem;
  }
  .menuImages {
    display: block;
    margin-top: 0.5rem;
    z-index: 3;
  }
  .mobileNavCart {
    margin-top: 0.4rem;
    display: block;
    position: relative;
    z-index: 1;
  }
  .opacityActive {
    opacity: 0.8;
  }
  .opacityInactive {
    opacity: 0.6;
  }

  .navimagesWrapper {
    display: flex;
    justify-content: end;
    gap: 1.2rem;
  }
  .navCartMenuWrapper {
    display: none;
  }
}

/* mobile-393px */
@media screen and (max-width: 393px) {
  .navbarListWrapper {
    width: 56.5%;
  }
  .navbarWrapper {
    margin: 1.5rem 2.5rem;
  }
  .navbarBrand {
    margin-left: 0.3rem;
    font-size: 1.3rem;
  }
  .li-nav {
    margin-right: 4.9rem;
  }
  .ul-nav input {
    margin-right: 2.2rem;
  }
  .mobileNavCart {
    margin-top: 0.3rem;
  }
  .menuImages {
    display: block;
    margin-top: 0.3rem;
  }
}

/* mobile-375px */
@media screen and (max-width: 375px) {
  .navbarWrapper {
    margin: 1.5rem 2.3rem;
  }
  .navbarListWrapper {
    width: 60%;
    margin-left: 7rem;
  }
  .ul-nav {
    margin-top: 6.5rem;
  }
  .ul-nav input {
    margin-right: 2.1rem;
  }
  .li-nav {
    margin-right: 4.9rem;
  }
}

/* mobile-362px */
@media screen and (max-width: 362px) {
  .navbarWrapper {
    margin: 1.5rem 2rem;
  }
  .navbarBrand {
    font-size: 1.3rem;
  }
  .menuImages {
    width: 1.45rem;
  }
  .ul-nav input {
    width: 66%;
  }
}

/* mobile-320px */
@media screen and (max-width: 320px) {
  .navbarWrapper {
    margin: 1.5rem 2rem;
  }
  .navbarListWrapper {
    margin-left: 6rem;
  }
  .li-nav {
    margin-right: 4.1rem;
  }
  .ul-nav input {
    margin-right: 1.6rem;
    width: 67%;
  }
}
