.deactiveProducts {
  opacity: 0;
  transform: scale(0);
}
.activeProducts {
  display: flex;
  transform: scale(1);
  opacity: 1;
}

.mainStoreTitleWrapper {
  position: relative;
  z-index: 0;
  width: 100%;
  padding-top: 12rem;
  padding-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mainStoreTitle {
  font-size: 2.1rem;
  opacity: 0.8;
  font-weight: 600;
  letter-spacing: 0.1rem;
}
.mainStoreTitleWrapper {
  font-size: 1.1rem;
  opacity: 0.7;
  font-weight: 500;
}
.storeCubeImagesWrapper {
  position: absolute;
  z-index: 0;
  margin-top: 3rem;
}
.storeCubeImagesOne {
  margin-top: -12rem;
  margin-left: 25rem;
  rotate: 6deg;
  position: absolute;
}
.storeCubeImagesTwo {
  margin-top: -6rem;
  margin-left: 55rem;
  rotate: 6deg;
}
.storeBackgroundWrapper {
  position: absolute;
  z-index: -5;
  opacity: 0.5;
}
.storeBackground {
  margin-top: -12rem;
  margin-left: 33rem;
  position: absolute;
  transform: scale(2);
  transform: scaleX(1.5);
}

.allProductsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.allProductsTitle {
  margin-top: 4rem;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  opacity: 0.7;
}

.isShowProducts {
  opacity: 0.8;
  letter-spacing: 0.15rem;
}

.cardBtnWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  margin-top: 1rem;
}

/* media queries */
/* desktop-1980px */
@media screen and (min-width: 1980px) {
  /* empty */
}

/* desktop-1920px */
@media screen and (min-width: 1920px) {
  .storeCubeImagesOne {
    margin-left: 34rem;
  }
  .storeCubeImagesTwo {
    margin-left: 68rem;
  }
  .storeBackgroundWrapper {
    margin-left: 10rem;
  }
}

/* desktop-1600px */
@media screen and (min-width: 1600px) {
  .mainStoreTitleWrapper {
    padding-bottom: 1rem;
  }
  .storeCubeImagesWrapper {
    margin-left: 7rem;
    margin-top: 3.5rem;
  }
  .storeBackground {
    margin-left: 41.5rem;
    margin-top: -11rem;
  }
}

/* tablet-834px */
@media screen and (max-width: 834px) {
  .mainStoreTitleWrapper {
    padding-bottom: 0.5rem;
  }
  .storeCubeImagesWrapper {
    margin-top: 4rem;
    margin-left: -16rem;
  }
  .storeCubeImagesOne {
    margin-left: 27.5rem;
    margin-top: -11.2rem;
  }
  .storeCubeImagesTwo {
    margin-left: 54rem;
  }
  .mainStoreTitle {
    font-size: 1.65rem;
  }
  .mainStoreDescription {
    font-size: 0.9rem;
  }
  .storeBackground {
    margin-top: -10rem;
    margin-left: 18.5rem;
  }
}

/* mobile-428px */
@media screen and (max-width: 428px) {
  .mainStoreTitleWrapper {
    padding-top: 9rem;
    padding-bottom: 3.3rem;
  }
  .storeCubeImagesOne {
    margin-left: 17.5rem;
    margin-top: -13.5rem;
  }
  .storeCubeImagesTwo {
    margin-left: 38rem;
    margin-top: -8rem;
  }
  .mainStoreTitle {
    font-size: 1.38rem;
  }
  .mainStoreDescription {
    font-size: 0.9rem;
  }
  .allProductsTitle {
    margin-top: 0.5rem;
    font-size: 1.1rem;
    margin-bottom: -0.5rem;
  }
  .cardBtnWrapper {
    margin-bottom: 3.5rem;
    margin-top: -4rem;
  }
  .storeBackground {
    margin-left: 5rem;
    margin-top: -11rem;
  }
  .isShowProducts {
    margin-bottom: 2rem;
    font-size: 0.9rem;
    margin-top: -2rem;
  }
}

/* mobile-393px */
@media screen and (max-width: 393px) {
  .storeCubeImagesOne {
    margin-top: -13.5rem;
  }
  .storeCubeImagesTwo {
    margin-left: 36.5rem;
  }
  .allProductsTitle {
    margin-top: 0rem;
  }
  .isShowProducts {
    font-size: 0.8rem;
  }
}

/* mobile-375px */
@media screen and (max-width: 375px) {
  .mainStoreTitle {
    font-size: 1.25rem;
  }
  .storeCubeImagesOne {
    margin-top: -13rem;
    margin-left: 17rem;
  }
  .storeCubeImagesTwo {
    margin-left: 35.5rem;
    margin-top: -8.5rem;
  }
  .storeBackground {
    margin-top: -12rem;
  }
  .allProductsTitle {
    margin-top: -0rem;
  }
}

/* mobile-362px */
@media screen and (max-width: 362px) {
  .mainStoreTitle {
    font-size: 1.3rem;
    margin-left: 0.6rem;
  }
  .mainStoreDescription {
    margin-left: 0.5rem;
  }
}

/* mobile-320px */
@media screen and (max-width: 320px) {
  .storeBackground {
    margin-left: 2rem;
  }
  .storeCubeImagesWrapper {
    display: none;
  }
  .isShowProducts {
    font-size: 0.7rem;
  }
}
