@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

body {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    40deg,
    rgb(240, 245, 246) 40%,
    rgba(128, 0, 128, 0.2) 100%
  );
  background-position: center;
  background-repeat: no-repeat;
  min-height: 2000px;
  cursor: default;
  z-index: -5;
}

p::selection {
  background-color: rgb(255, 3, 255);
  color: white;
}
p {
  cursor: auto;
}

span::selection {
  background-color: rgb(255, 3, 255);
  color: white;
}

span {
  color: rgb(184, 4, 184);
}

@media screen and (max-width: 428px) {
  body {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      60deg,
      rgb(240, 245, 246) 50%,
      rgba(128, 0, 128, 0.2) 100%
    );
  }
}
@media screen and (max-width: 393px) {
  body {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      60deg,
      rgb(240, 245, 246) 40%,
      rgba(128, 0, 128, 0.2) 100%
    );
  }
}
@media screen and (max-width: 375px) {
  body {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      60deg,
      rgb(240, 245, 246) 50%,
      rgba(128, 0, 128, 0.2) 100%
    );
  }
}
